<h1>Mentor Portal Dashboard</h1>
<p>Welcome to the mentor portal!</p>

<ul>
  <li><a href="<%= mentor_portal_messages_path %>">Messages</a></li>
  <li><a href="<%= mentor_portal_posts_path %>">Posts</a></li>
</ul>