/* General table style */
th,td {
  padding: 15px;
  text-align: left;
}

/* Table header */
th {
  border-bottom: 1px solid #ddd;
  color: var(--text-color);
}

/* Profile td has less padding */
.profile-td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: calc(var(--spacing) * 2);
}

/* Row and header hover color */
.users-table-rows:hover, .sortable-header:hover {
  background-color: var(--accent-color);
}

.users-table-rows:not(:hover), .sortable-header:not(:hover) {
  transition: background-color 1s;
}

/* Show, edit button */
.blue-button:hover {
  background-color: var(--ok-highlight-color);
}

.blue-button:not(:hover) {
  transition: background-color 1s;
}

/* Destroy button */
.red-button:hover {
  background-color: var(--warn-highlight-color);
}

.red-button:not(:hover) {
  transition: background-color 1s;
}

/* Forms */
.field {
  padding: 5px;
}

input {
  border: 2px solid var(--accent-color);
  border-radius: 4px;
}

input:focus {
  background-color: var(--accent-color);
}