/* General table style */
th,td {
  padding: 15px;
  text-align: left;
}

/* Table header */
th {
  border-bottom: 1px solid #ddd;
  color: white;
}

/* Profile td has less padding */
.profile-td {
  padding: 5px
}

/* Row and header hover color */
.users-table-rows:hover, .sortable-header:hover {
  background-color: #D878CBff;
}

.users-table-rows:not(:hover), .sortable-header:not(:hover) {
  transition: background-color 1s;
}

/* Show, edit button */
.blue-button:hover {
  background-color: #7883d8ff;
}

.blue-button:not(:hover) {
  transition: background-color 1s;
}

/* Destroy button */
.red-button:hover {
  background-color: #d87878ff;
}

.red-button:not(:hover) {
  transition: background-color 1s;
}