<div class="flex flex-col items-center justify-center">
  <div class="bottom-0 w-full text-center pb-1">
    <p class="text-white text-lg">
      A <a href="https://www.slinghealthtamu.org/" class="underline">Sling Health TAMU</a> Application
    </p>
  </div>

  <%= link_to 'Help Page', help_path, class: "text-lg underline" %>

  <p class="text-lg pb-4">
    Contact: <a href="mailto:citrous@tamu.edu" class="underline">citrous@tamu.edu</a>
  </p>

</div>